/*div{
   
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}*/
*{
    background-color: blue;
    
}
#box{
    background-color: black;
    height:60px;
    gap:200px;
    border: 10px solid white;
    
    

}
span{
    background-color: black;
    color: white;
}
div{
    word-spacing: 200px;

}
#product{
background-color: white;
}
.link{
    background-color:yellow;
}