
h1{
    text-align: center;
    background-color: white;
    color:black;
}
.container{
    border: 2px solid red;
    background-color: black;
    color: white;
    padding: 15px;
    border-radius: 18px; 
}
span{
   
    margin: 0px 98px 0px 90px;
}
button{
    border: 1px solid white;
    background-color: black;
    color: white;
    border-radius: 15px;
}
#foot{
    
}
.parent {
    padding: 2rem;
    text-align: center;
    
  }
.child1 {
    display: inline-block;
    border: 1px solid rgb(197, 193, 193);
    background-color: rgb(228, 26, 26);
    color: white;
    padding: 1rem;
    height: 100px;
    width: 100px;
    opacity: 0.5;
}
.child2 {
    display: inline-block;
    border: 1px solid rgb(242, 242, 245);
    background-color: blueviolet;
    color:white;
    padding:1rem;
    height: 100px;
    width: 100px;
    opacity: 0.5;   
}
.child3{
    display: inline-block;
    border: 1px solid rgb(248, 252, 248);
    background-color: chartreuse;
    color: white;
    padding: 1rem;
    height: 100px;
    width: 100px;
    opacity: 0.5;  
}
h2{
    margin-top: 0px;
    font-size: 15px;
}
p{
    font-size: 10px;
}
#container2{
    text-align: center;
    margin: 0px 0px 0px 0px;
}
h6{
    text-align: center;
}